@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row" style="background: url('/images/slide01.jpg'); padding: 15px 5% 15px 5%; color: #eeeeee">
                <div class="col-sm-6 col-md-5 text-center" style="padding-top: 50px">
                    <h3>
                        THE BEST LAUNCHER<br/>FOR OSX AND WINDOWS:
                    </h3>
                    <h2>JAMES</h2>
                    <a class="btn btn-default btn-primary btn-lg" href="#">
                        DOWNLOAD NOW
                    </a>
                </div>
                <div class="col-sm-6 col-md-7">
                    <img src="/images/james.png" width="100%"/>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row" style="background: url('/images/slide01.jpg'); padding: 15px 5% 15px 5%; color: #eeeeee">
                <div class="col-sm-6 col-md-5 text-center" style="padding-top: 50px">
                    <h3>
                        THE BEST LAUNCHER<br/>FOR OSX AND WINDOWS:
                    </h3>
                    <h2>JAMES</h2>
                    <a class="btn btn-default btn-primary btn-lg" href="#">
                        DOWNLOAD NOW
                    </a>
                </div>
                <div class="col-sm-6 col-md-7">
                    <img src="/images/james.png" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-5">
        <img src="/images/smallJames.png" width="100%" />
    </div>
    <div class="col-md-7">
        <h3>Search for files</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-7 hidden-xs hidden-sm">
        <h3>Search the web</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
    <div class="col-md-5">
        <img src="/images/smallJames.png" width="100%"/>
    </div>
    <div class="col-md-7 visible-xs-block visible-sm-block">
        <h3>Search the web</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-5">
        <img src="/images/smallJames.png" width="100%" />
    </div>
    <div class="col-md-7">
        <h3>Extend James with workflows</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
    <hr />
</div>
