@model James.Web.ViewModels.Workflows.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg" role="button">Create New</a>
</p>
@ViewData["filter"]
@if (ViewData["filter"] != null)
{
    <a asp-action="Index">show all</a>
}
@foreach (var item in Model.Workflows) {
    @await Html.PartialAsync("WorkflowSummary", item)
}