@model James.Web.ViewModels.Workflows.IndexViewModel

@{
    ViewData["Title"] = "Verify Workflows";
}

<h2>Verify Workflows</h2>

<p>
    Displays all workflows which are waiting to be verified.
</p>
@foreach (var item in Model.Workflows) {
    @await Html.PartialAsync("WorkflowSummary", item)
}
@if (Model.Workflows.Count == 0)
{
    <div class="alert alert-danger" role="alert">Sorry, we couldn't find any workflows. <a asp-action="Create">Create New</a></div>
}