@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Username:</dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
            [ <a asp-action="ChangeUsername">Change</a> ]
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">Create</a>
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count [<a asp-controller="Manage" asp-action="ManageLogins">Manage</a>]
        </dd>
    </dl>
</div>
